<h1>Attend Event</h1>

<ul>
  <li><%= link_to 'Back', root_path %></li>
</ul>

<div>
  <%= form_with model: @event_attendee, url: event_event_attendees_path do |form| %>
    <%= form.submit 'Attend' %>
  <% end %>
</div>