<h1>Events</h1>

<div>
  <% @event.each do |e| %>
    <div><strong>Created by User #<%= e.creator.id %></strong></div>
    <div><%= e.name %></div>
    <div><%= e.location %></div>
    <div><%= e.date%></div>
  <% end %>
</div>